<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="simple-grid.css">
    <link rel="stylesheet" href="simple-grid.min.css">
    <link rel="stylesheet" href="simple-grid.scss">
    <link rel="stylesheet" href="css/greet.css">


    <title>greetingsweb</title>
</head>

<div class="row">
    {{{body}}}
</div>

</html>