<div class="row">
    <form action="home" method="POST">

        <h2> Greeted Names </h2>

        <table>
            <tr>
                <th>Greeted Names</th>

                <th>Number Of Names</th>
            </tr>

            {{#each greeted}}
            <tr>
                <td>{{username}}</td>

                <td>{{counter}}</td>
            </tr>
            {{/each}}

        </table>
    </form>
</div>