<div class="row">
    <form action="/" method="get">

        <h2> The Greeted Name </h2>

        <button class="button-primary  HomeBtn" type="submit" name="button"><strong>Back</strong></button>

        Hello there, {{counter.username}} has been greeted {{counter.counter}} times!

    </form>
</div>