body
{
  width: 100%;
  font-family: "Helvetica Neue",Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color:greenyellow;

}

*
{
  padding: 0;
  margin: 0;
}

.MyCounter
{
  color: bisque;
}
.takesText
{
  font-size: 20px;
  text-align: center;
  margin-top: 230px;
  margin-left: 500px;
}
.MyRadioBtn
{
  margin-top: 23px;
  margin-left: 500px;
  color: blanchedalmond;
}
.greetBtn
{
  background: aqua;
  border-radius: 40px;
  height: 40px;
  width: 60px;
  margin-left: 440px;
}
.resetBtn
{
  background: red;
  border-radius: 40px;
  height: 40px;
  width: 60px;
  margin-top: 0px;
  margin-left:440px;
}
h2
{
  float: center;
  margin: 10px;
  color: blue;
  margin-left:440px;
}
.MyErrorMsg
{
  color: red;
}