body{
text-align: center;
background-color: grey;
}
h2
{
  text-align: center;
}

.container
{
  position: absolute;
  right: 0;
  left:0;
  top: 0;
  bottom: 0;
  margin: 10%;
  

}
.takesText
{
  margin-top:40px;
  margin-bottom: 5px;
}
.radioBtn
{
  margin: 1px;
}
.button
{
    margin-top:30px;
    margin-left: 440px;
}
.button-primary
{
    /* border: 1px solid white; */
    padding: 10px 20px;
    color:blue;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.HomeBtn
{
  border-radius: 20%;
  display: inline-block;
  
}
.eraseBtn
{
  border-radius: 20%;
  display: inline-block;
  
}
p{
  text-align: center;
 
}
table {
  display: inline-table
}
